<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hands-Free Drum Machine</title>

    <!-- jQuery -->
    <script type="text/javascript" src="static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui-1.10.4.min.js"></script>

    <!-- socket.io -->
    <script src="static/js/socket.io-1.3.7.js"></script>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/all.css" rel="stylesheet">
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootbox.min.js"></script>

    <!-- web audio api helpers -->
    <script src="static/js/audio_engine.js"></script>

    <!-- My stuff -->
    <script type="text/javascript" src="static/js/all.js"></script>
    <script type="text/javascript" src="static/js/freesound.js"></script>
    <script type="text/javascript" src="static/js/voice.js"></script>

    <!-- config socket.io -->
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        init_stuff(); // for sequencer and audio

        namespace = '/test'; // change to an empty string to use the global namespace

        // Connect to server
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        /*
        // Generate room name
        var num_digits = 4;
        var room_name = "";
        for (i=0; i<num_digits; i++){
            room_name = room_name + Math.floor(Math.random()*10).toString(10);
        }
        $("#room_name").text("Room name: " + room_name)
        socket.emit('join', {room: room_name});*/

        // Receive messages
        socket.on('my response', function(msg) {
            console.log(msg.data)
            //$('#log').append('<p>Received: ' + msg.data + '</p>');
        });

        socket.on('kick', function(msg) {
            on_kick_receive();
        });
    });    
    </script>
    
</head>
<body role="document">

<!-- content -->
<div class="container" role="main">

<div id="top_wrapper">
    <div id="top">
        <h1 style="font-family:">Hands-Free Drum Machine</h1>
    </div>
</div>

<div id="sequencer_wrapper">
    <div id="sequencer">
    </div>
    <div style="width:470px;margin: 0 auto;">
    <div id="query_controls" class="input-group" style="width:320px;margin:auto;display:none;"><input id="query_terms" type="text" class="form-control" placeholder="Query terms..."><span class="input-group-btn"><button class="btn btn-default" type="button" onclick="load_from_freesound_text_search();">Search!</button></span></div>
        <!--div class="progress progress-striped" style="margin-top:20px;">
                <div id="progress_bar" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div-->
    </div>
</div>

<div id="bottom_controls_wrapper">
    <div id="bottom_controls">
        <button id="start_stop_sequencer" type="button" class="btn btn-default btn-lg" style="height:57px;" onclick="start_stop_sequencer()"><span class="glyphicon glyphicon-play"></button>
        &nbsp;
        <button id="stepin_sequencer" type="button" class="btn btn-default btn-lg" style="height:57px;" onclick="stepIn()"><span class="glyphicon glyphicon-step-forward"></button>
        <!--&nbsp;
        <button id="randomize_sequencer" type="button" class="btn btn-default btn-lg" style="height:57px;" onclick="randomize_sequence(0.0)"><span class="glyphicon glyphicon-trash"></button>-->
        &nbsp;
        <div style="display:inline-block;"><input id="bpm_input" type="text" class="form-control" placeholder="bpm" value="60" style="height:57px;width:55px;text-align: center;" maxlength="3"></div>&nbsp;&nbsp;bpms = 8th note
    </div>
</div>
</div>
</div>
</body>
</html>
